<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Otel_Musteri_Uygulamasi.Properties.Settings.dbOtelConnectionString"
            connectionString="Data Source=DESKTOP-SNP49SI;Initial Catalog=dbOtel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>